.content {
  padding-top: 55px;
}

.custom-card {
  width: 100%;
  min-height: 400px;
  background: darkgray;
}

.card-title {
  color: #0C669A;
  font-size: 15px;
  font-weight: 500;
}

.card-description {
  font-size: 13px;
}

.card {
  background: transparent;
  border: none;
}

.card-img {
  border-radius: 15px;
}

.card-content {
  background: #0C669A 0 0 no-repeat padding-box;
  color: white;
}

.my-item-content {
  background: #0C669A 0 0 no-repeat padding-box;
}

.liked-count-view {
  border-radius: 100%;
  padding: 2px 10px 3px 10px;
  font-size: 19px;
  font-weight: bold;
  border: 2px solid #ffffff;
  cursor: default;
}

.my-liked-item-container {
  background: rgba(12, 102, 154, 0.76);
  color: white;
}

hr {
  border-bottom: 2px solid #ffffff;
}
