<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="position: fixed; top: 0; left: 0; z-index: 500; width: 100vw">
  <a class="navbar-brand pl-5" href="#"><img src="../assets/logo.png" alt="logo" style="height: 35px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">DASHBOARD <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SDG VIDEOS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CONNECTS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CONSUMERS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CAREERS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">10N1 <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">MASTERCLASSES <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">PROFILE <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SIGN OUT <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="content">
  <div class="container">

    <h1 class="text-center mt-5 main-title">YOUTHTOPIA COSUMES</h1>
    <h4 class="text-center mb-3 main-title">Peer to peer product & brand discussion</h4>

    <div>


      <div class="position-relative" style="z-index: 100">
        <div class="text-center align-content-center align-items-center position-relative d-flex my-card"
             *ngFor="let prod of products; let i=index"
             [@cardAnimator]="animationStateArray[i].animationState"
             id="card-container">
          <div class="custom-card" [id]="'custom-card-'+i" (window:resize)="resize(i,$event)">

            <div class="position-relative">

              <img [src]="prod.image" alt="" style="width: 100%"
                   (swipeleft)="swipeLeft($event,'fadeOutTopLeft', i, like)"
                   (swiperight)="swipeRight($event, 'fadeOutTopRight', i, dislike)" [id]="'image-'+i"
                   (swipeup)="swipeTop($event)" (swipedown)="swipeDown($event)">

              <img src="../assets/like-img.png" alt="like-img" class="card-img-custom like-img" #like>
              <img src="../assets/deslike-img.png" alt="deslike-img" class="card-img-custom dis-like-img" #dislike>
            </div>

            <div class="card-content p-4 text-left position-relative" [id]="'description-'+i"
                 (swipeleft)="swipeLeft($event,'fadeOutTopLeft', i, like)"
                 (swiperight)="swipeRight($event, 'fadeOutTopRight', i, dislike)"
                 (swipeup)="swipeTop($event)" (swipedown)="swipeDown($event)">
              <h4>PRODUCT DETAILS</h4>
              <h5 class="comment-btn" data-toggle="modal" data-target=".bd-example-modal-lg">Comments</h5>
              <h4>{{prod.description}}</h4>
            </div>
          </div>
        </div>
      </div>

      <h4 class="text-center m-3" *ngIf="products.length === 0" style="cursor: pointer" (click)="reload()">START
        AGAIN</h4>

      <div class="position-relative">
        <div class="my-item-content p-4" id="liked-item" style="margin-top: 75vh">
          <H4 style="color: #4DEA72;">MORE INFO</H4>
          <div style="color: white" class="text-center" type="button" data-toggle="collapse"
               data-target="#collapseExample"
               aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-heart d-inline mr-3" style="font-size: 25px"></i>
            <h4 class="d-inline">View my liked items</h4>
            <div class="liked-count-view d-inline ml-3">{{count}}</div>
          </div>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card mt-3">

            <div class="my-liked-item-container p-5 mb-4" *ngFor="let data of likedItem">
              <h2 class="text-center">{{data.title}}</h2>
              <hr>
              <h4 class="text-center">
                {{data.description}}
              </h4>
            </div>

          </div>
        </div>
      </div>

    </div>

    <h2 class="text-center mt-5 mb-5 main-title">FEATURED PRODUCTS</h2>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let data of featuredProducts">

        <div class="card">
          <div class="card-body">
            <img [src]="data.image" alt="" class="card-img">
            <h4 class="card-title text-center pt-2">{{data.title}}</h4>
            <h5 class="card-description text-center">{{data.description}}</h5>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#0c669a" type="ball-scale-multiple"
             [fullScreen]="true"></ngx-spinner>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="p-4 m-3 comment-container">
        <h1 class="font-weight-bold pb-3">Comments</h1>

        <div class="row">
          <div class="col-3 col-sm-2 col-md-2 text-center">
            <img src="../assets/profile-user.png" class="user-avatar" alt="" style="width: 100%">
          </div>
          <div class="col-9 col-sm-10 col-md-10">
            <textarea name="" id="" cols="30" rows="3" class="form-control rounded-0"></textarea>
            <button class="custom-btn mb-3">Post</button>
          </div>
        </div>

        <div class="row exists-comments">
          <div class="col-3 col-sm-2 col-md-2 text-center">
            <img src="../assets/profile-user.png" class="user-avatar" alt="" style="width: 100%">
          </div>
          <div class="col-9 col-sm-10 col-md-10">
            <div class="pb-2">
              <span class="pr-3">username</span>
              <small>2021-01-12</small>
            </div>
            <div>Description</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
