<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="position: fixed; top: 0; left: 0; z-index: 500; width: 100vw">
  <a class="navbar-brand" href="#">YOUTHTOPIA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">DASHBOARD <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SDG VIDEOS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CONNECTS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CONSUMERS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CAREERS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">10N1 <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">MASTERCLASSES <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">PROFILE <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SIGN OUT <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="content">
  <div class="container">

    <h2 class="text-center mt-5 main-title">YOUTHTOPIA COSUMES</h2>
    <h5 class="text-center mb-3 main-title">Peer to peer product & brand discussion</h5>


    <div class="text-center align-content-center align-items-center position-relative d-flex my-card"
         *ngFor="let prod of products; let i=index"
         [@cardAnimator]="animationStateArray[i].animationState"
         id="card-container">
      <div class="custom-card" [id]="'custom-card'+i">

        <div class="position-relative">

          <img [src]="prod.image" alt="" style="width: 100%"
               (swipeleft)="swipeLeft($event,'fadeOutTopLeft', i)"
               (swiperight)="swipeRight($event, 'fadeOutTopRight', i)" [id]="'image-'+i">

          <img src="../assets/like-img.png" alt="like-img" class="card-img-custom like-img"
               (swiperight)="swipeRight($event, 'fadeOutTopRight', i)">
          <img src="../assets/deslike-img.png" alt="deslike-img" class="card-img-custom dis-like-img"
               (swipeleft)="swipeLeft($event, 'fadeOutTopLeft', i)">
        </div>

        <div class="card-content p-4 text-left">
          <h4>PRODUCT DETAILS</h4>
          <h5>{{prod.description}}</h5>
        </div>
      </div>
    </div>

    <div class="text-center" (click)="reload()">Reload</div>


    <div class="my-item-content p-4" style="margin-top: 75vh">
      <H4 style="color: #4DEA72;">MORE INFO</H4>
      <div style="color: white" class="text-center" type="button" data-toggle="collapse" data-target="#collapseExample"
           aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-heart d-inline mr-3" style="font-size: 25px"></i>
        <h4 class="d-inline">View my liked items</h4>
        <div class="liked-count-view d-inline ml-3">{{count}}</div>
      </div>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card mt-3">

        <div class="my-liked-item-container p-5 mb-4">
          <h4 class="text-center">SAMPLE HEADLINE</h4>
          <hr>
          <h5 class="text-center">
            Sample description Sample description Sample description Sample description Sample description
          </h5>
        </div>

        <div class="my-liked-item-container p-5 mb-4">
          <h4 class="text-center">SAMPLE HEADLINE</h4>
          <hr>
          <h5 class="text-center">
            Sample description Sample description Sample description Sample description Sample description
          </h5>
        </div>

      </div>
    </div>

    <h2 class="text-center mt-5 mb-5 main-title">FEATURED PRODUCTS</h2>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let data of featuredProducts">

        <div class="card">
          <div class="card-body">
            <img [src]="data.image" alt="" class="card-img">
            <div class="card-title text-center pt-2">{{data.title}}</div>
            <p class="card-description text-center">{{data.description}}</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div style="width: 100px; height: 100px; background: #0C669A" id="my"></div>
