<nav class="navbar navbar-expand-lg navbar-light bg-light w-100" style="position: fixed; top: 0; left: 0; z-index: 500">
  <a class="navbar-brand" href="#">YOUTHTOPIA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">DASHBOARD <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SDG VIDEOS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CONNECTS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CONSUMERS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">CAREERS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">10N1 <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">MASTERCLASSES <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">PROFILE <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SIGN OUT <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="content">
  <div class="container">

    <h2 class="text-center mt-5">YOUTHTOPIA COSUMES</h2>
    <h5 class="text-center mb-3">Peer to peer product & brand discussion</h5>

    <div class="w-100 text-center align-content-center align-items-center position-relative d-flex">
      <div class="custom-card">

      </div>
    </div>

    <h2 class="text-center mt-5 mb-5">FEATURED PRODUCTS</h2>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let data of featuredProducts">

        <div class="card">
          <div class="card-body">
            <img [src]="data.image" alt="" class="card-img">
            <div class="card-title text-center pt-2">{{data.title}}</div>
            <p class="card-description text-center">{{data.description}}</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
