/* You can add global styles to this file, and also import other style files */

h2 {
  font-weight: 500 !important;
}

body {
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
}

.bg-light {
  background: #0C669A 0 0 no-repeat padding-box !important;
  opacity: 0.83;
}

.navbar-nav .nav-link {
  color: white !important;
}

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
